.header-nav-item {
	display: inline-block;
	margin-left: 1.5em;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
  position: relative;
}

.header-nav-item > i {
  color: #333;
  position: relative;
  top: 7px;
  cursor: pointer;
}


.header-nav-item a {
	color: #333;
  opacity: .8;
  transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
}

.header-nav-item a sub {
	display: block;
  clear: both;
	font-size: 10px;
	opacity: .6;
}

.header-nav-item a:hover {
	opacity: 1;
	color: #048BA8;
}

.header-nav-item a:hover .hamburger span {
  background: #048BA8;
}

.header-nav-item.menu > a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger {
  width: 14px;
  height: 10px;
  display: block;
  margin-left: 4px;
  position: relative;
}

.hamburger span {
  width: 100%;
  display: block;
  height: 2px;
  background: #333;
  margin-bottom: 2px;
  transition: transform .3s ease-out;
}

.hamburger.open span {
  opacity: 0;
}

.hamburger.open span:first-child {
  transform: rotate(45deg);
  opacity: 1;
  position: absolute;
  top: 4px;
}

.hamburger.open span:last-child {
  transform: rotate(-45deg);
  opacity: 1;
  position: absolute;
  top: 4px;
}
