<ul>
	<li *ngFor="let navItem of navigation" class="header-nav-item">
		<a [routerLink]="[navItem.uri]">
			{{ navItem.label }}
		</a>
	</li>
  <li class="header-nav-item">
    <i class="material-icons" (click)="openSearchMenu()">search</i>
  </li>
  <li class="header-nav-item menu">
    <a (click)="setMenuState()">
      <span>Menu</span>
      <div class="hamburger" [ngClass]="{'open': menuOpen}">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </li>
</ul>
