.card-container {
  display: flex;
  width: 100%;
	flex-wrap: wrap;
}

.card-container.move {
	width: 80%;
	margin: 0 auto;
}

.image-card {
  width: 30%;
  margin: 1em auto;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
							0 0 0 1px rgba(0,0,0,0.08);
	cursor: pointer;
}

.card-container.move .image-card {
	width: calc(50% - 2em);
}

.card-image {
  width: 100%;
  display: block;
  padding-bottom: 100%;
  background-size: cover;
	background-position: center;
}

.card-image.video {
	padding-bottom: 56%;
}

.card-meta {
  display: block;
  width: 100%;
  overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	padding: .5em;
}

.card-meta h2 {
  margin: .5em 0;
  text-align: left;
	font-size: 1.4em;
}

.card-meta span {
	color: #666;
	font-weight: 300;
}

.card-meta-data {
  font-size: .8em;
  color: #666;
  font-weight: 300;
}

.tag {
  padding: .2em 1em;
  width: 40%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  float: left;
	font-size: .9em;
}

.date {
  display: block;
  float: left;
  margin: .2em .5em;
	color: #555;
}

.empty-state {
    width: 80%;
    margin: 3em auto;
    display: block;
}

.empty-state i.material-icons {
    color: rgba(0,0,0,0.3);
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.empty-state h3 {
    color: rgba(0,0,0,0.4);
    text-align: center;
    width: 100%;
    display: block;
}

.empty-state p {
    color: #333;
    margin-top: 1em;
}

@media screen and (max-width: 640px) {
	.empty-state {
			width: 95%;
	}

	.card-container {
		display: block;
		overflow: hidden;
	}

	.card-container.move {
		width: 100%;
		margin: auto;
	}

	.image-card {
		width: 95%;
		display: block;
		margin: 1em auto;
		overflow: hidden;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
								0 0 0 1px rgba(0,0,0,0.08);
	}

	.card-container.move .image-card {
		width: 95%;
	}

	.card-image {
		width: 25%;
		padding-bottom: 25%;
		float: left;
	}

	.card-image.video {
		width: 35%;
		padding-bottom: 20%;
		background-position: center;
	}

	.card-meta {
		width: 75%;
		float:left;
		clear: right;
	}

	.card-meta.video {
		width: 65%;
	}
}
